/* ---------------------- header ---------------------- */
header {
	height: 90px;
	
	z-index: 9999;
	background: #fff;
	transition: 0.5s;
	overflow: visible;
    max-width: 1920px;
    margin: auto;

	&.home {
		background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .links {
            .link {
                .icon {
                    filter: brightness(0) invert(1);
                }
                .text {
                    color: #fff;
                }
            }
        }
        .menu-cont {
            height: 100%;
            text-align: right;
            margin: 0 35px;
            display: inline-block;
            position: relative;
            ul.main-menu {
                .menu-item-has-children, .has-extra-menu { 
                    background: url("../images/icons/rdw.svg") no-repeat left 10px center;
                }
                > li {
                    > a {
                        color: #fff;
                    }
                }
            }
        }
	}

	
	.header-inner {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
        padding: 0 50px;
	}

	.menu-button {
		position: relative;
	}

	.logo {
		height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
		img {
			max-height: 60%;
		}
	}


    .part-left, .logo {
        flex: 1 0;
    }

    .part-left {
        text-align: left;
    }

    .links {
        display: flex;
        justify-content: flex-end;
        margin-left: 0;
        margin-right: auto;
        .link {
            margin: 0 15px;
            text-align: center;
            .icon {
                height: 25px;
                font-size: 0;
                img {
                    max-height: 100%;
                }
            } 
            .text {
                @include f-r;
                font-size: 14px;
                color: var(--color-text);
                transition: 0.5s;
            }

            &:hover {
                .text {
                    color: var(--color-main);
                }
            }
        }
    }
    .menu-cont {
        height: 100%;
        text-align: right;
        margin: 0 35px;
        display: inline-block;
        position: relative;
        ul.main-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            .menu-item-has-children, .has-extra-menu { 
                padding-left: 20px;
                background: url("../images/icons/rd.svg") no-repeat left 10px center;
            }
            .menu-item-has-children {
                position: relative;
            }
            .has-extra-menu { 
                position: static;
            }
            > li {
                position: relative;
                padding: 0 15px;
                > a {
                    position: relative;
                    transition: 0.25s;
                    @include f-r;
                    font-size: 19px;
                    color: var(--color-text);
                    
                    padding: 5px 5px;
                    white-space: nowrap;
                    display: inline-block;
                    height: 100%;
                    
                    &:hover {
                        color: var(--color-main);
                    }
                }
                &.current_page_item, &.current-menu-item {
                    > a {
                        @include f-b;
                    }
                }
                .sub-menu {
                    padding: 20px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 100%;
                    background-color: #fff;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.15s;
                    box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2);
                    z-index: 999;
                    li {
                        margin: 0;
                        &.menu-item-has-children {
                            background: url("../images/icons/rr.svg") no-repeat left center;
                        }
                        a {
                            @include f-r;
                            font-size: 17px;
                            color: var(--color-text);
                            padding: 8px;
                            white-space: nowrap;
                            display: inline-block;
                            transition: 0.5s;
                            &:hover {
                                color: var(--color-main);
                            }
                        }
                        .sub-menu {
                            left: auto;
                            right: 100%;
                            top: 0;
                            transform: translateX(-20px);
                        }
                        &:hover {
                            >.sub-menu {
                                visibility: visible;
                                opacity: 1;
                            }
                            >.extra-menu {
                                top: 100%;
                                visibility: visible;
                                opacity: 1;
                            }
                            
                        }
                    }
                }

  

                &:hover {
                    >.sub-menu {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    @media only screen and (max-width : 1500px) {
        .header-inner {
            padding: 0 25px;
        }
        .menu-cont {
            margin: 0 25px;
            ul.main-menu {
                > li {
                    padding: 0 10px;
                    > a {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width : $lw) {
        height: 75px;
        .header-inner {
            padding: 0 20px;
        }
    }

    @media only screen and (max-width : 1270px) {
        .header-inner {
            padding: 0 10px;
        }
        .links {
            .link {
                margin: 0 10px;
            }
        }

        .menu-cont {
            margin: 0 20px;
            ul.main-menu {
                > li {
                    padding: 0 5px;
                    > a {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width : $tw) {
        height: 60px;
        .links {
            .link {
                .text {
                    display: none;
                }
            }
        }
    }

    @media only screen and (max-width : $mw) {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 45px;
        box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2);
        &.home {
            position: fixed;
            background: #fff;
            .menu-cont {
                display: none;
            }
            .links {
                .link {
                    .icon {
                        filter: none;
                    }
                }
            }
        }
        .menu-cont {
            display: none;
        }
        .header-inner {
            padding: 0 10px;
        }
        .links {
            margin-left: 20px;
        }

        .logo {
            img {
                max-height: 70%;
            }
        }
    }

	
}
/* --------------------- /header ---------------------- */

/* ---------------------- Section slider-top ---------------------- */
section.slider-top {
    position: relative;
    height: 900px;
    padding-top: 0;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
    }

    .image {
        height: 100%;
        @include flex-center;
        img {
            height: 100%;
        }
    }
    .slider-top-main {
        height: 100%;
        .swiper-slide {
            height: 100%;
            position: relative;
            @include flex-center;
            img {
                height: 100%;
            }

            &:after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                font-size: 0;
                z-index: 2;
                background: #000;
                opacity: 0.25;
            }
        }
    }

    .section-inner {
        position: relative;
        z-index: 3;
        width: auto;
        text-align: center;
        margin: 0 auto;
        .text {
            @include f-r;
            font-size: 40px;
            color: #fff;
            margin-top: 30px;
            p {
                margin-top: 10px;
            }
        } 
    }

    .hotels-panel-top {
        margin-top: 200px;
        .selector {
            .title {
                font-size: 22px;
                padding-top: 25px;
                padding-bottom: 25px;
                border: none;
                background-color: #ffffffE6;
                &:after { 
                    top: 35px;
                    left: 20px;
                }
            }
            .modal {
                border: none;
                background-color: #ffffffE6;
                top: auto;
                bottom: 100%;
                transform: translateX(-50%) translateY(20px);
            }

            &.open {
                .modal {
                    transform: translateX(-50%) translateY(0px);
                }
            }

        }
    }


 
    @media only screen and (max-width : $lw) {
        height: 650px;
        .hotels-panel-top {
            margin-top: 100px;
        }
    }


    @media only screen and (max-width : $mw) {
        height: auto;
        padding-top: 55px;
        .section-inner {
            .text {
                font-size: 30px;
                margin-top: 30px;
                p {
                    margin-top: 10px;
                }
            } 
        }

        .hotels-panel-top {
            margin-top: 50px;
            .selector {
                .title {
                    font-size: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    &:after { 
                        top: 30px;
                        left: 20px;
                    }
                }
            }
            .button {
                display: block;
            }
        }
    }


}
/* --------------------- /Section slider-top ---------------------- */


/* ---------------------- Section attractions-slider ---------------------- */
section.attractions-slider {
    .decor {
        top: 50px;
        right: 0;
    }
    .wrapper-slider {
        max-width: 1755px;
        padding-right: 35px;
        margin-left: 0;
        margin-right: auto;
        margin-top: 45px;
        display: flex;
        position: relative;
        .part-text {
            width: 24%;
            flex-shrink: 0;
            padding-left: 60px;
            position: relative;
            .button-icon {
                margin-top: 35px;
            }

            .nav {
                position: absolute;
                bottom: 10px;
                left: 60px;
                display: flex;
                align-items: center;
                .arrow {
                    cursor: pointer;
                    margin: 0 20px;
                }
            }
        }
        .part-slider {
            width: 76%;
        }
    }

    .slider-attractions {
        .swiper-wrapper {
            .swiper-slide {
                &.swiper-slide-active {
                    .box-attraction-slide {
                        .caption {
                            &.open {
                                opacity: 1;
                            }
                            &.closed {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width : $lw) {
        .section-title {
            padding-right: 145px;
        }
        .wrapper-slider {
            padding-right: 85px;
            .part-text {
                padding-left: 35px;
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .decor {
            width: 75px;
        }
        .section-title {
            padding-right: 95px;
        }
        .wrapper-slider {
            flex-wrap: wrap;
            padding: 0 10px;
            .part-text {
                width: 100%;
                padding-right: 35px;
                padding-bottom: 100px;
                text-align: center;
                .nav {
                    left: 0;
                    right: 0;
                    justify-content: center;
                }
                .content {
                    text-align: right;
                }
                .button-icon {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .part-slider {
                width: 100%;
                margin-top: 25px;
            }
        }
    }
    
}
/* --------------------- /Section attractions-slider ---------------------- */

.box-attraction-slide {
    position: relative;
    .image {
        @include flex-center;
        font-size: 0;
        height: 650px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        img {
            min-height: 100%;
            min-width: 100%;
        }

        &:after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.58) 100%);
        }
    }
    .fav {
        position: absolute;
        z-index: 9;
        width: 54px;
        height: 54px;
        left: 30px;
        top: 30px;
        border-radius: 100%;
        @include flex-center;
        background: #FFFFFF;
        box-shadow: 0px 58px 80px rgba(71, 71, 71, 0.07), 0px 37.5926px 46.8519px rgba(71, 71, 71, 0.0531481), 0px 22.3407px 25.4815px rgba(71, 71, 71, 0.0425185), 0px 11.6px 13px rgba(71, 71, 71, 0.035), 0px 4.72593px 6.51852px rgba(71, 71, 71, 0.0274815), 0px 1.07407px 3.14815px rgba(71, 71, 71, 0.0168519);
        cursor: pointer;
    }
    .caption {
        position: absolute;
        bottom: 75px;
        right: 75px;
        left: 75px;
        transition: 0.5s;
        &.open {
            opacity: 0;
            display: flex;
            align-items: center;
            z-index: 9;
            .part-map {
                width: 180px;
                img {
                    max-width: 100%;
                }
            }

            .part-info {
                flex-grow: 1;
                padding-left: 70px;
            }
        }
        .pre-title {
            @include f-r;
            font-size: 20px;
            color: #fff;
        }
        .title {
            @include f-r;
            font-size: 36px;
            color: #fff;
        }

        .text {
            @include f-r;
            font-size: 20px;
            line-height: 1.5;
            color: #fff;
            p {
                margin-top: 10px;
            }
        }
    }

    @media only screen and (max-width : $lw) {
        .image {
            height: 500px;
        }
        .caption {
            bottom: 35px;
            right: 35px;
            left: 35px;
        }
    }

    @media only screen and (max-width : $mw) {
        .image {
            height: 270px;
        }
        .fav {
            width: 45px;
            height: 45px;
            left: 15px;
            top: 15px;
        }
        .caption {
            bottom: 20px;
            right: 20px;
            left: 20px;

            .pre-title {
                font-size: 16px;
            }
            .title {
                font-size: 19px;
            }
    
            .text {
                font-size: 16px;
            }
            .button-arrow {
                margin-top: 15px;
            }
            &.open {
                flex-wrap: wrap;
                flex-direction: column-reverse;
                align-items: flex-start;
                .part-map {
                    width: auto;
                    text-align: right;
                    display: none;
                    img {
                        height: 55px;
                        margin-right: 0;
                        margin-left: auto;
                        margin-bottom: 10px;
                    }
                }
                .part-info {
                    padding-left: 0px;
                }
            }
        }
    }

    
}


/* ---------------------- Section banners ---------------------- */
section.banners {
    .boxes {
        display: flex;
        flex-wrap: wrap;
        margin: -25px;
        .box {
            flex: 1 0;
            padding: 25px;
            cursor: pointer;
            .inner {
                font-size: 0;
                border-radius: 7px;
                overflow: hidden;
                img {
                    max-width: 100%;
                }
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .boxes {
            margin: -10px;
            .box {
                flex: 1 100%;
                padding: 10px;
            }
        }
    }
}
/* --------------------- /Section banners ---------------------- */

/* ---------------------- Section articles-index ---------------------- */
section.articles-index {
    .decor {
        left: 0;
        top: 0;
        width: 33.33%;
        text-align: left;
        @media only screen and (max-width : $mw) {
            width: 45%;
        }
    }

    .wrapper-articles {
        margin-top: 45px;
        width: 70%;
    }

    .wrapper-button {
        margin-top: 35px;
        text-align: left;
    }

    @media only screen and (max-width : $lw) {
        .wrapper-articles {
            margin-top: 25px;
        }
    }

    @media only screen and (max-width : $mw) {
        .wrapper-articles {
            width: 100%;
        }
        .section-title {
            padding-left: 150px;
        }
        .wrapper-button {
            margin-top: 10px;
        }
    }
}
/* --------------------- /Section articles-index ---------------------- */

.box-article-index {
    border-bottom: 1px solid #C9C9C9;
    padding-top: 25px;
    padding-bottom: 50px;
    cursor: pointer;
    display: block;
    &:last-child {
        border-bottom: none;
    }
    .inner {
        position: relative;
        display: flex;
        align-items: center;
    }
    .image {
        @include flex-center;
        font-size: 0;
        height: 200px;
        width: 430px;
        flex-shrink: 0;
        overflow: hidden;
        filter: drop-shadow(0px 15px 30px rgba(63, 80, 112, 0.26));
        border-radius: 10px;
        margin-left: 55px;
        img {
            min-height: 100%;
            min-width: 100%;
        }
    }
    .text {
        @include f-r;
        font-size: 36px;
        color: var(--color-text);
        padding-left: 70px;
        background: #fff;
        background-position: left 10px center;
        transition: 0.5s;
    }

    &:hover {
        .text {
            background: #fff url("../images/icons/a-l-b.svg") no-repeat;
            background-position: left center;
        }
    }

    @media only screen and (max-width : $lw) {
        padding-bottom: 40px;
        .image {
            width: 350px;
        }
        .text {
            font-size: 30px;
        }
    }

    @media only screen and (max-width : $tw) {
        padding-bottom: 40px;
        .image {
            width: 300px;
            height: 180px;
        }
        .text {
            font-size: 30px;
        }
    }

    @media only screen and (max-width : $mw) {
        .inner {
            display: block;
        }
        .image {
            width: auto;
            max-width: 100%;
            margin-left: 0;
        }
        .text {
            padding-left: 0;
            background: #fff !important;
            font-size: 22px;
            margin-top: 20px;
        }
    }

}


/* ---------------------- Section hotels-index ---------------------- */
section.hotels-index {
    background: url('../images/index/bg-hotels.png') right center / contain no-repeat;
    .wrapper-hotels {
        width: 60%;
        margin-left: 0;
        margin-right: auto;
    }

    .boxes {
        margin-top: 35px;
    }

    .wrapper-button {
        margin-top: 35px;
        text-align: left;
    }

    @media only screen and (max-width : $mw) {
        background: url('../images/index/bg-hotels-m.png') right center / cover no-repeat;
        .wrapper-hotels {
            width: 100%;
        }
    }
}
/* --------------------- /Section hotels-index ---------------------- */
.box-hotel-index {
    border-bottom: 1px solid #C9C9C9;
    padding-top: 25px;
    padding-bottom: 50px;
    cursor: pointer;
    display: block;
    .inner {
        position: relative;
        display: flex;
        align-items: center;
    }
    .image {
        @include flex-center;
        font-size: 0;
        height: 220px;
        width: 270px;
        flex-shrink: 0;
        overflow: hidden;
        filter: drop-shadow(0px 15px 30px rgba(63, 80, 112, 0.26));
        border-radius: 10px;
        margin-left: 55px;
        img {
            min-height: 100%;
            min-width: 100%;
        }
    }
    .text {
        .pre-title {
            @include f-r;
            font-size: 20px;
            color: #5C5C5C;
        }
        .title {
            @include f-r;
            font-size: 32px;
            color: #1E1E1E;
        }
        .rating {
            margin-top: 5px;
            display: flex;
            align-items: center;

            .feedback {
                @include f-r;
                font-size: 18px;
                color: #5C5C5C;
                text-decoration: underline;
                margin-right: 25px;
            }
            .stars {
                font-size: 0;
                display: flex;
                align-items: center;
                img {
                    margin: 1px;
                }
            }
        }
        .content {
            margin-top: 10px;
        }

    }

    @media only screen and (max-width : $lw) {
        .image {
            height: 200px;
            margin-left: 35px;
        }
        .text {
            .title {
                font-size: 28px;
            }
        }
    }

    @media only screen and (max-width : $mw) {
        padding-top: 20px;
        padding-bottom: 30px;
        .inner {
            align-items: flex-start;
        }
        .image {
            height: 140px;
            width: 30%;
            margin-left: 15px;
            img {
                height: 100%;
                width: auto;
                min-width: auto;
            }
        }
        .text {
            .pre-title {
                font-size: 16px;
            }
            .title {
                font-size: 19px;
            }
            .rating {
                display: block;
                .feedback {
                    margin-right: 0;
                    margin-top: 5px;
                    font-size: 16px;
                }
            }
            .content {
                font-size: 16px;
            }
        }
    }
}


/* ---------------------- Section blogger-stories ---------------------- */
section.blogger-stories {
    .wrapper-button {
        margin-top: 35px;
        text-align: left;
    }

    .boxes {
        display: flex;
        flex-wrap: wrap;
        margin: -20px -10px;
        margin-top: 55px;
        &:first-child {
            margin-top: 0;
        }
        .box {
            width: 33.33%;
            padding: 20px 10px;
        }
    }

    @media only screen and (max-width : $mw) {
        .boxes {
            margin-top: 25px;
            justify-content: center;
            .box {
                width: 100%;
                max-width: 400px;
            }
        }
    }
}
/* --------------------- /Section blogger-stories ---------------------- */

.box-article-blogger {
    .inner {
        position: relative;
        background: #FFFFFF;
        border-radius: 10px;
        overflow: hidden;
        filter: drop-shadow(0px 30px 60px rgba(63, 80, 112, 0.26));
        height: 100%;
    }
    .image {
        @include flex-center;
        font-size: 0;
        height: 210px;
        overflow: hidden;
        img {
            min-height: 100%;
            min-width: 100%;
        }
    }
    .reward {
        position: absolute;
        width: 54px;
        height: 54px;
        top: 25px;
        left: 25px;
        @include flex-center;
        border-radius: 100%;
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    }
    .text {
        padding: 35px;

        .panel-top {
            display: flex;
            align-items: center;
            @include f-r;
            font-size: 14px;
            color: #5C5C5C;
            margin-top: -10px;
            .item {
                display: flex;
                align-items: center;
                margin: 0 8px;
                img {
                    margin-left: 5px;
                }
            }
            .date {
                margin-left: 10px;
            }
        }
        .author {
            display: flex;
            align-items: center;
            position: relative;
            margin-top: -60px;
            .info {
                @include f-r;
                font-size: 20px;
                color: #5C5C5C;
                .date {
                    font-size: 14px;
                    margin-top: 3px;
                }
            }
            .photo {
                @include flex-center;
                font-size: 0;
                height: 115px;
                width: 115px;
                overflow: hidden;
                border-radius: 100%;
                margin-left: 20px;
                img {
                    height: 100%;
                }
            }
        }

        .content {
            margin-top: 30px;
            font-size: 24px;
            color: #1E1E1E;
        }

        .title {
            @include f-r;
            font-size: 32px;
            color: #1E1E1E;
            margin-top: 15px;
        }

        .subtitle {
            @include f-r;
            font-size: 20px;
            color: #1E1E1E;
            margin-top: 15px;
        }
    }

    @media only screen and (max-width : $lw) {
        .text {
            .content {
                font-size: 20px;
            }
            .title {
                font-size: 28px;
            }
            .subtitle {
                font-size: 18px;
                margin-top: 8px;
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .image {
            height: 150px;
        }
        .reward {
            width: 40px;
            height: 40px;
            top: 15px;
            left: 15px;
        }
        .text {
            padding: 35px 20px;
            padding-bottom: 25px;
            .panel-top {
                margin-top: -20px;
            }
            .author {
                margin-top: -50px;
                .photo {
                    height: 90px;
                    width: 90px;
                }
            }
            .content {
                font-size: 18px;
                margin-top: 20px;
            }

            .title {
                font-size: 22px;
            }
            .subtitle {
                font-size: 16px;
                margin-top: 5px;
            }

            .button-arrow {
                margin-top: 20px;
            }
        }
    }
}


/* ---------------------- Section plan ---------------------- */
section.plan {
    background: url("../images/index/bg-plan.png") no-repeat;
    background-position: left center;
    background-size: 65% auto;
    padding: 140px 0;
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-image: linear-gradient(0deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
        z-index: 9;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
        z-index: 9;
    }
    .wrapper-content {
        width: 45%;
    }
    .boxes {
        display: flex;
        flex-wrap: wrap;
        margin: -30px;
        margin-top: 55px;
        .box {
            width: 50%;
            padding: 30px;
        }
    }

    @media only screen and (max-width : $lw) {
        padding: 75px 0;
        .boxes {
            margin-top: 35px;
        }
    }

    @media only screen and (max-width : $mw) {
        padding: 35px 0;
        background: url("../images/index/bg-plan-m.png") no-repeat;
        background-size: cover;
        .wrapper-content {
            width: 100%;
        }

        .boxes {
            margin: -15px;
            margin-top: 25px;
            .box {
                width: 50%;
                padding: 15px;
            }
        }
    }
}
/* --------------------- /Section plan ---------------------- */
.box-plan {
    .inner {
        position: relative;
    }
    .icon {
        background: #F2F5FB;
        border-radius: 10px;
        height: 60px;
        width: 60px;
        @include flex-center;
    }

    .title {
        @include f-r;
        font-size: 36px;
        color: var(--color-text);
        margin-top: 5px;
    }
    .content {
        margin-top: 10px;
    }
    @media only screen and (max-width : $lw) {
        .title {
            font-size: 30px;
        }
    }
    @media only screen and (max-width : $lw) {
        .title {
            font-size: 20px;
        }
        .content {
            font-size: 16px;
        }
    }
}

/* ---------------------- Section tips ---------------------- */
section.tips {
    .part-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
        border-bottom: 1px solid #C9C9C9;
        .description {
            @include f-r;
            font-size: 24px;
            color: #5C5C5C;
            margin-right: 35px;
        }
    }
    .parts {
        margin-top: 35px;
        .part-map {
            width: 40%;
        }
    }
    .wrapper-button {
        margin-top: 35px;
        text-align: left;
    }

    .map {
        position: relative;
        font-size: 0;
        display: inline-block;

        .hotspot {
            position: absolute;
            height: 0;
            width: 0;
            overflow: visible;
            cursor: pointer;
            img {
                transform: translateX(50%) translateY(-100%);
                max-width: none;
                transition: 0.5s;
                filter: brightness(0);
                opacity: 0.8;
            }

            &:hover {
                img {
                    transform: translateX(50%) translateY(-100%) scale(1.1);
                }
            }

            &.selected {
                img {
                    filter: brightness(1);
                    opacity: 1;
                }
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .part-top {
            display: block;
            .description {
                font-size: 20px;
                margin-right: 0;
                margin-top: 15px;
            }
        }
    }
}
/* --------------------- /Section tips ---------------------- */

.box-tip-index {
    border-bottom: 1px solid #C9C9C9;
    padding-top: 30px;
    padding-bottom: 25px;
    cursor: pointer;
    display: block;
    .inner {
        position: relative;
    }

    .title {
        @include f-r;
        font-size: 36px;
        color: var(--color-text);
    }
    .content {
        margin-top: 10px;
    }

    .author {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 25px;
        .photo {
            @include flex-center;
            font-size: 0;
            height: 55px;
            width: 55px;
            overflow: hidden;
            border-radius: 100%;
            margin-left: 18px;
            img {
                height: 100%;
            }
        }
        .info {
            .name {
                @include f-r;
                font-size: 18px;
                color: #5C5C5C;
            }

            .stars {
                font-size: 0;
                display: flex;
                align-items: center;
                margin-top: 3px;
                img {
                    margin: 1px;
                    font-size: 0
                }
                .date {
                    @include f-r;
                    font-size: 16px;
                    color: #5C5C5C;
                    margin-right: 15px;
                }
            }
        }
    }

    @media only screen and (max-width : $lw) {
        .title {
            font-size: 30px;
        }
    }

    @media only screen and (max-width : $mw) {
        .title {
            font-size: 20px;
        }
        .content {
            font-size: 16px;
        }
    }

}
/* ---------------------- Section image-wide ---------------------- */
section.image-wide {
    font-size: 0;
    img {
        width: 100%;
    }
}
/* --------------------- /Section image-wide ---------------------- */


/* ---------------------- footer ---------------------- */
body > footer {
    position: relative;
	overflow: visible;
    z-index: 99;
    max-width: 1920px;
	margin: auto;

    background: #fff url("../images/index/bg-footer.png") no-repeat;
    background-size: cover;


	.part-top {
		padding-top: 90px;
		padding-bottom: 70px;
		
        
        .cont-form {
            display: flex;
            align-items: center;
            justify-content: center;
            .text {
                @include f-r;
                font-size: 36px;
                color: #fff;
                margin-left: 65px;
            }
        }
		.cols {
	        display: flex;
	        justify-content: space-between;
	        color: white;
	        font-size: 17px;
	        text-align: right;
			
			margin: auto -20px;
            margin-top: 75px;

			.col {
				padding: 0 20px;
				color: #fff;
				
				.title {
					@include f-r;
					font-size: 20px;
					color: #fff;
                    display: inline-block;
                    white-space: nowrap;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        display: block;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 1px;
                        background-color: #fff;
                    }
				}

				.content {
					@include f-r;
					font-size: 18px;
					margin-top: 20px;
					color: #fff;
                    &:first-child {
                        margin-top: 0;
                    }
					a {
						color: inherit;
						transition: 0.5s;
                        text-decoration: none;
						&:hover {
							color: var(--color-main);
						}
					}
                    ul {
                        list-style: none;
                        padding-right: 0;
                    }
					p,li {
						margin-top: 2px;
					}
      
				}

			}
		}
	}


	.part-bottom {
        .section-inner {
            border-top: 1px solid rgba(201, 201, 201, 0.5);
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menu-cont {
                height: 100%;
                text-align: right;
                margin: 0 35px;
                display: inline-block;
                position: relative;
                ul.main-menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    > li {
                        position: relative;
                        padding: 0 15px;
                        > a {
                            position: relative;
                            transition: 0.25s;
                            @include f-r;
                            font-size: 19px;
                            color: #fff;
                            
                            padding: 5px 5px;
                            white-space: nowrap;
                            display: inline-block;
                            height: 100%;
                            
                            &:hover {
                                color: var(--color-main);
                            }
                        }
                        &.current_page_item, &.current-menu-item {
                            > a {
                                @include f-b;
                            }
                        }
      
      
                    }
                }
            }

            .social {
                display: flex;
                align-items: center;
                margin: -10px;
                .link {
                    display: inline-block;
                    margin: 10px;
                }
            }
        }
        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;

            @include f-r;
            font-size: 18px;
            color: #fff;
            margin-top: 35px;
            .sep {
                width: 2px;
                height: 15px;
                margin: 0 15px;
                background: #fff
            }
        }
        
        
    }


    @media only screen and (max-width : $lw) {
        .part-top {
            padding-top: 70px;
        }

        .part-bottom {   
            .top {
                .logo {
                    img {
                        max-height: 40px;
                    }
                }
                .menu-cont {
                    margin: 0 25px;
                    ul.main-menu {
                        > li {
                            padding: 0 8px;
                            > a {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
  
    }

    @media only screen and (max-width : $tw) {
        .part-bottom {   
            .top {
                flex-direction: column;
                .menu-cont {
                    margin: 25px 0px;
                }
            }
        }
    }

    @media only screen and (max-width : $mw) {


        .part-top {
            padding-top: 35px;
            padding-bottom: 35px;
            .cont-form {
                flex-direction: column;
                .text {
                    margin-left: 0;
                    font-size: 30px;
                }
                .wpcf7 {
                    margin-top: 25px;
                }
            }
            .cols {
                flex-wrap: wrap;
                margin-top: 35px;
                .col {
                    flex: 50% 1;
                    margin-top: 25px;
                    .content {
                        ul {
                            margin-top: 0;
                            li {
                                margin-top: 0;
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
        .part-bottom {   
            .top {
                .menu-cont {
                    ul.main-menu {
                        flex-direction: column;
                    }
                }
            }
            .bottom {
                flex-direction: column;
                .sep {
                    background: transparent;
                    height: 10px;
                }
            }
        }
    

        
    }




	
}
/* --------------------- /footer ---------------------- */
.logoextra {
    cursor: pointer;
    svg path {
        transition: 0.5s;
    }
    &:hover {
        svg path {
            fill: #FFC20F;
        }
    }
}


.subscribe .wpcf7 {
    position: relative;
    display: inline-block;
    width: auto;
    max-width: 390px;
    .wpcf7-form-control-wrap {
        width: 100%;
    }
    input {
        @include f-r;
        font-size: 20px;
        color: #BDBDBD;
        @include placeholder-color(#BDBDBD);
        background: #FFFFFF;
        border: 1px solid #A7A7A7;
        border-radius: 7px;
        width: auto;
        padding: 18px 25px;
        margin: 0;
        width: 100%;
    }

    .wrapper-submit {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        height: 65px;
        width: 55px;
        background: transparent url("../images/icons/send.svg") no-repeat;
        background-position: center center;
        cursor: pointer;
        z-index: 99;
        input {
            font-size: 0;
            border-radius: 0;
            height: 100%;
            width: 100%;
            display: block;
            background: none;
            border :none;
            cursor: pointer;
        }
        
    }
}