section {
	width: 100%;
	max-width: 1920px;
	margin: auto;	
	overflow: hidden;
	position: relative;
	padding: 75px 0;
	@media only screen and (max-width : $tw) {
		padding: 55px 0;
	}
	@media only screen and (max-width : $mw) {
		padding: 35px 0;
	}
}

.section-inner {
	max-width: 1560px;
	padding: 0 20px;
	width: 100%;
	margin: auto;
	position: relative;

	@media only screen and (max-width : $mw) {
		padding: 0 10px;
	}
}

.content {
	@include f-r;
	font-size: 20px;
	color: var(--color-text);
	line-height: 1.5;
	&.white {
		color: #fff;
	}
	p,ul,li,h1,h2,h3,h4,h5,img {
		margin-top: 15px;
		&:first-child {
			margin-top: 0;
		}
	}
	a {
		color: var(--color-main);
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	ul {
		list-style: disc;
    	padding-right: 25px;
	}

	img {
		max-width: 100%;
	}

	@media only screen and (max-width : $lw) {
		font-size: 18px;
	}
	@media only screen and (max-width : $mw) {
		font-size: 17px;
	}
}

.centered {
	text-align: center;
}

.parts {
	display: flex;
	margin: 0 -45px;
	&.ai-center {
		align-items: center;
	}
	.part {
		width: 50%;
		flex-grow: 1;
		padding: 0 45px;
		position: relative;
		&:nth-child(1) {
		}
		&:nth-child(2) {
		}
		.image {
			img {
				max-width: 100%;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		flex-wrap: wrap;
		.part {
			width: 100%;
			&:nth-child(2) {
				margin-top: 25px;
			}
		}
	}
}

.section-title {
	@include f-r;
	font-size: 67px;
	color: var(--color-text);
	line-height: 1;
	span {
		color: var(--color-main);
	}
	&.white {
		color: #fff;
	}

	@media only screen and (max-width : $lw) {
		font-size: 57px;
	}
	@media only screen and (max-width : $tw) {
		font-size: 47px;
	}
	@media only screen and (max-width : $mw) {
		font-size: 37px;
	}
}

.section-subtitle {
	@include f-r;
	font-size: 24px;
	color: var(--color-text);
	margin-top: 10px;
	&:first-child {
		margin-top: 0;
	}
	@media only screen and (max-width : $lw) {
		font-size: 22px;
	}
	@media only screen and (max-width : $tw) {
		font-size: 20px;
	}
	@media only screen and (max-width : $mw) {
		font-size: 19px;
	}
}


.button-icon {
	cursor: pointer;
	.inner {
		display: flex;
		align-items: center;
	}
	
	img {
		margin-left: 5px;
	}

	@include f-r;
	font-size: 20px;
	color: var(--color-second);
	white-space: nowrap;

	display: inline-block;
	position: relative;
	transition: 0.5s;
	&:before {
		content: "";
		position: absolute;
		display: block;
		right: 0;
		bottom: -6px;
		left: 0;
		height: 2px;
		background-color: var(--color-second);
		transition: 0.5s;
	}

	&:hover {
		color: var(--color-main);
		&:before {
			background-color: var(--color-main);
		}
	}

	&.cont-like {
		.wpulike {
			margin-left: 5px;
			padding: 0;
			.count-box {
				display: none;
			}
			.wp_ulike_btn {
				background-color: #fff;
				padding: 15px 15px;
			}

			.wp_ulike_put_image {
				&:after {
					width: 22px;
					height: 22px;
				}
			}
		}
	}

	&.button-hotel {
		.icon {
			height: 17px;
			width: 17px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			margin-left: 5px;
		}
		&.liked {
			.icon {
				background-image: url("../images/icons/heart-full.svg");
			}
		}
		&.not-liked {
			.icon {
				background-image: url("../images/icons/heart-empty.svg");
			}
		}
	}

	@media only screen and (max-width : $tw) {
		img {
			height: 20px;
			margin-left: 5px;
		}
		font-size: 18px;
	}
}

.button-follow {
	.wpulike {
		margin-left: 5px;
		padding: 0;
		.count-box {
			display: none;
		}
		.wp_ulike_btn {
			background-color: transparent;
			padding: 15px 15px;
		}

		.wp_ulike_put_image {
			&:after {
				width: 22px;
				height: 22px;
			}
		}
	}
}

.remove-btn {
	.wpulike {
		display: none;
	}
}

.load-more {
	@include f-r;
	font-size: 20px;
	color: #fff;
	background: var(--color-second);
	white-space: nowrap;

	box-shadow: 0px 15px 30px #5A459680;
	border-radius: 45px;
	padding: 20px 25px;

	display: inline-block;
	position: relative;
	transition: 0.5s;

	margin-top: 35px;

	cursor: pointer;

	&.loading {
		pointer-events: none;
	}

	&:hover {
		background: #8564E4;
	}

	@media only screen and (max-width : $mw) {
		font-size: 18px;
		padding: 15px 20px;
	}
}

.button-yellow {
	.inner {
		display: flex;
		align-items: center;
	}
	
	img {
		margin-left: 5px;
	}

	@include f-r;
	font-size: 20px;
	color: #fff;
	background: var(--color-main);
	white-space: nowrap;

	box-shadow: 0px 15px 30px rgba(249, 178, 51, 0.49);
	border-radius: 45px;
	padding: 20px 25px;

	display: inline-block;
	position: relative;
	transition: 0.5s;
}


.image-shadow {
	font-size: 0;
	display: inline-block;
	filter: drop-shadow(0px 15px 30px rgba(63, 80, 112, 0.26));
	border-radius: 10px;
	overflow: hidden;
}
.button-viva {
	background: var(--color-main);
	border: 1px solid var(--color-main);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	flex-grow: 1;
	text-align: center;
	@include f-r;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
	padding: 17px;
	min-width: 230px;
	transition: 0.5s;
	@include flex-center;
	&:hover {
		background: var(--color-second);
	}
}

.cont-button {
	margin-top: 75px;
	text-align: left;

	@media only screen and (max-width : $mw) {
		margin-top: 35px;
	}
}

.button-arrow {
	@include f-r;
	font-size: 20px;
	color: #fff;
	padding-left: 35px;
	background: url("../images/icons/arrow-w-l.svg") no-repeat;
	background-position: left 5px center;

	display: inline-block;
	margin-top: 35px;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		background-position: left center;
	}

	&.dark {
		background-image: url("../images/icons/r-more-dark.svg");
		color: #5A4596;
	}


}

.text-hidden {
	.text {
		overflow: hidden;
		position: relative;
		transition: 0.5s;
		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 50px;
			background-image: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
			z-index: 9;
			transition: 0.5s;
			opacity: 0;
		}
		&.is-hidden {
			&:after {
				opacity: 1;
			}
		}
	}
	
}

.read-more {
	@include f-r;
	font-size: 20px;
	color: var(--color-second);
	display: inline-block;
	margin-top: 20px;
	cursor: pointer;
}

.decor {
	position: absolute;
	font-size: 0;
	pointer-events: none;
	img {
		max-width: 100%;
	}
}


@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.loading:after {
	display: inline-block;
    content: "";
    animation: spin 1.75s linear infinite;
    height: 31px;
    width: 31px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    z-index: 2;

	background: url("../images/icons/gear.svg");
}

#sm_menu_ham {
	position: static;
	span {
		background-color: var(--color-second);
		height: 3px;
	}
}

.sm_menu_outer {
	background: var(--color-second);
	&.slide .mobile_menu .sub-menu {
		background-color: var(--color-second);
		height: calc(100vh - 45px);
	}
	.mobile_menu {
		li {
			border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%) 0 0 1 0;
		}
		li.hasChild > a, li.back a {
			background-size: 20px !important;
		}
		a {
			@include f-r;
			 padding: 15px 15px;
		}
		.current_page_item {
			>a {
				@include f-b;
			}
		}
	}
}

.sm_menu_outer.slide .mobile_menu li.hasChild > a {
    background: url(../plugins/mmenu/images/next.png) no-repeat scroll 10px center / 5% auto;
}

.sm_menu_outer .mobile_menu li.back a {
    padding: 20px 45px 20px 5px;
    background: url(../plugins/mmenu/images/back.png) no-repeat scroll right 15px center / 5% auto;
}

.sm_menu_outer {
    bottom: 0;
    height: calc(100vh - 45px);
    top: 45px;
}