:root {
  --color-text: #1E1E1E;
  --color-main: #F9B233;
  --color-second: #5A4596; }

/* Fonts */
@font-face {
  font-family: 'VarelaRound-regular';
  src: url("../fonts/VarelaRound-Regular.ttf") format("truetype"); }

/* /Fonts */
/* Global */
html {
  margin: 0 !important;
  overflow-x: hidden; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'VarelaRound-regular';
  font-size: 18px; }
  @media only screen and (max-width: 950px) {
    body {
      padding-top: 45px; } }

input {
  border: none;
  outline: none; }

a {
  text-decoration: none;
  color: inherit; }

*, *::before, *::after {
  box-sizing: border-box;
  direction: rtl; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  -webkit-padding-start: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

section {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: 75px 0; }
  @media only screen and (max-width: 1200px) {
    section {
      padding: 55px 0; } }
  @media only screen and (max-width: 950px) {
    section {
      padding: 35px 0; } }

.section-inner {
  max-width: 1560px;
  padding: 0 20px;
  width: 100%;
  margin: auto;
  position: relative; }
  @media only screen and (max-width: 950px) {
    .section-inner {
      padding: 0 10px; } }

.content {
  font-family: 'VarelaRound-regular';
  font-size: 20px;
  color: var(--color-text);
  line-height: 1.5; }
  .content.white {
    color: #fff; }
  .content p, .content ul, .content li, .content h1, .content h2, .content h3, .content h4, .content h5, .content img {
    margin-top: 15px; }
    .content p:first-child, .content ul:first-child, .content li:first-child, .content h1:first-child, .content h2:first-child, .content h3:first-child, .content h4:first-child, .content h5:first-child, .content img:first-child {
      margin-top: 0; }
  .content a {
    color: var(--color-main);
    text-decoration: underline; }
    .content a:hover {
      text-decoration: none; }
  .content ul {
    list-style: disc;
    padding-right: 25px; }
  .content img {
    max-width: 100%; }
  @media only screen and (max-width: 950px) {
    .content {
      font-size: 18px; } }

.centered {
  text-align: center; }

.parts {
  display: flex;
  margin: 0 -45px; }
  .parts.ai-center {
    align-items: center; }
  .parts .part {
    width: 50%;
    padding: 0 45px;
    position: relative; }
    .parts .part .image img {
      max-width: 100%; }
  @media only screen and (max-width: 950px) {
    .parts {
      flex-wrap: wrap; }
      .parts .part {
        width: 100%; }
        .parts .part:nth-child(2) {
          margin-top: 25px; } }

.section-title {
  font-family: 'VarelaRound-regular';
  font-size: 67px;
  color: var(--color-text);
  line-height: 1; }
  .section-title span {
    color: var(--color-main); }
  .section-title.white {
    color: #fff; }
  @media only screen and (max-width: 1370px) {
    .section-title {
      font-size: 57px; } }
  @media only screen and (max-width: 1200px) {
    .section-title {
      font-size: 47px; } }
  @media only screen and (max-width: 950px) {
    .section-title {
      font-size: 37px; } }

.section-subtitle {
  font-family: 'VarelaRound-regular';
  font-size: 24px;
  color: var(--color-text);
  margin-top: 10px; }
  .section-subtitle:first-child {
    margin-top: 0; }
  @media only screen and (max-width: 1370px) {
    .section-subtitle {
      font-size: 22px; } }
  @media only screen and (max-width: 1200px) {
    .section-subtitle {
      font-size: 20px; } }
  @media only screen and (max-width: 950px) {
    .section-subtitle {
      font-size: 19px; } }

.button-icon {
  font-family: 'VarelaRound-regular';
  font-size: 20px;
  color: var(--color-second);
  white-space: nowrap;
  display: inline-block;
  position: relative;
  transition: 0.5s; }
  .button-icon .inner {
    display: flex;
    align-items: center; }
  .button-icon img {
    margin-left: 5px; }
  .button-icon:after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    bottom: -6px;
    left: 0;
    height: 2px;
    background-color: var(--color-second);
    transition: 0.5s; }
  .button-icon:hover {
    color: var(--color-main); }
    .button-icon:hover:after {
      background-color: var(--color-main); }
  @media only screen and (max-width: 1200px) {
    .button-icon {
      font-size: 18px; }
      .button-icon img {
        height: 20px;
        margin-left: 5px; } }

.decor {
  position: absolute;
  font-size: 0;
  pointer-events: none; }
  .decor img {
    max-width: 100%; }

.loading:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  content: "\f1ce";
  -webkit-animation: fa-spin .75s linear infinite;
          animation: fa-spin .75s linear infinite;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  color: #227BC9;
  z-index: 2; }

#sm_menu_ham {
  position: static; }
  #sm_menu_ham span {
    background-color: var(--color-second);
    height: 3px; }

.sm_menu_outer {
  background: var(--color-second); }
  .sm_menu_outer.slide .mobile_menu .sub-menu {
    background-color: var(--color-second);
    height: calc(100vh - 45px); }
  .sm_menu_outer .mobile_menu li {
    -o-border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%) 0 0 1 0;
       border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%) 0 0 1 0; }
  .sm_menu_outer .mobile_menu li.hasChild > a, .sm_menu_outer .mobile_menu li.back a {
    background-size: 20px !important; }
  .sm_menu_outer .mobile_menu a {
    font-family: 'VarelaRound-regular';
    padding: 15px 15px; }
  .sm_menu_outer .mobile_menu .current_page_item > a {
    font-family: 'VarelaRound-regular'; }

.sm_menu_outer.slide .mobile_menu li.hasChild > a {
  background: url(../plugins/mmenu/images/next.png) no-repeat scroll 10px center/5% auto; }

.sm_menu_outer .mobile_menu li.back a {
  padding: 20px 45px 20px 5px;
  background: url(../plugins/mmenu/images/back.png) no-repeat scroll right 15px center/5% auto; }

.sm_menu_outer {
  bottom: 0;
  height: calc(100vh - 45px);
  top: 45px; }

/* ---------------------- header ---------------------- */
header {
  height: 90px;
  z-index: 9999;
  background: #fff;
  transition: 0.5s;
  overflow: visible;
  max-width: 1920px;
  margin: auto; }
  header.home {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    header.home .links .link .icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
    header.home .links .link .text {
      color: #fff; }
    header.home .menu-cont {
      height: 100%;
      text-align: right;
      margin: 0 35px;
      display: inline-block;
      position: relative; }
      header.home .menu-cont ul.main-menu .menu-item-has-children, header.home .menu-cont ul.main-menu .has-extra-menu {
        background: url("../images/icons/rdw.svg") no-repeat left 10px center; }
      header.home .menu-cont ul.main-menu > li > a {
        color: #fff; }
  header .header-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 50px; }
  header .menu-button {
    position: relative; }
  header .logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    header .logo img {
      max-height: 60%; }
  header .part-left, header .logo {
    flex: 1 0; }
  header .part-left {
    text-align: left; }
  header .links {
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
    margin-right: auto; }
    header .links .link {
      margin: 0 15px;
      text-align: center; }
      header .links .link .icon {
        height: 25px;
        font-size: 0; }
        header .links .link .icon img {
          max-height: 100%; }
      header .links .link .text {
        font-family: 'VarelaRound-regular';
        font-size: 14px;
        color: var(--color-text);
        transition: 0.5s; }
      header .links .link:hover .text {
        color: var(--color-main); }
  header .menu-cont {
    height: 100%;
    text-align: right;
    margin: 0 35px;
    display: inline-block;
    position: relative; }
    header .menu-cont ul.main-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%; }
      header .menu-cont ul.main-menu .menu-item-has-children, header .menu-cont ul.main-menu .has-extra-menu {
        padding-left: 20px;
        background: url("../images/icons/rd.svg") no-repeat left 10px center; }
      header .menu-cont ul.main-menu .menu-item-has-children {
        position: relative; }
      header .menu-cont ul.main-menu .has-extra-menu {
        position: static; }
      header .menu-cont ul.main-menu > li {
        position: relative;
        padding: 0 15px; }
        header .menu-cont ul.main-menu > li > a {
          position: relative;
          transition: 0.25s;
          font-family: 'VarelaRound-regular';
          font-size: 19px;
          color: var(--color-text);
          padding: 5px 5px;
          white-space: nowrap;
          display: inline-block;
          height: 100%; }
          header .menu-cont ul.main-menu > li > a:hover {
            color: var(--color-main); }
        header .menu-cont ul.main-menu > li.current_page_item > a, header .menu-cont ul.main-menu > li.current-menu-item > a {
          font-family: 'VarelaRound-regular'; }
        header .menu-cont ul.main-menu > li .sub-menu {
          padding: 20px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 100%;
          background-color: #fff;
          visibility: hidden;
          opacity: 0;
          transition: 0.15s;
          box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2);
          z-index: 999; }
          header .menu-cont ul.main-menu > li .sub-menu li {
            margin: 0; }
            header .menu-cont ul.main-menu > li .sub-menu li.menu-item-has-children {
              background: url("../images/icons/rr.svg") no-repeat left center; }
            header .menu-cont ul.main-menu > li .sub-menu li a {
              font-family: 'VarelaRound-regular';
              font-size: 17px;
              color: var(--color-text);
              padding: 8px;
              white-space: nowrap;
              display: inline-block;
              transition: 0.5s; }
              header .menu-cont ul.main-menu > li .sub-menu li a:hover {
                color: var(--color-main); }
            header .menu-cont ul.main-menu > li .sub-menu li .sub-menu {
              left: auto;
              right: 100%;
              top: 0;
              transform: translateX(-20px); }
            header .menu-cont ul.main-menu > li .sub-menu li:hover > .sub-menu {
              visibility: visible;
              opacity: 1; }
            header .menu-cont ul.main-menu > li .sub-menu li:hover > .extra-menu {
              top: 100%;
              visibility: visible;
              opacity: 1; }
        header .menu-cont ul.main-menu > li:hover > .sub-menu {
          visibility: visible;
          opacity: 1; }
  @media only screen and (max-width: 1500px) {
    header .header-inner {
      padding: 0 25px; }
    header .menu-cont {
      margin: 0 25px; }
      header .menu-cont ul.main-menu > li {
        padding: 0 10px; }
        header .menu-cont ul.main-menu > li > a {
          font-size: 18px; } }
  @media only screen and (max-width: 1370px) {
    header {
      height: 75px; }
      header .header-inner {
        padding: 0 20px; } }
  @media only screen and (max-width: 1270px) {
    header .header-inner {
      padding: 0 10px; }
    header .links .link {
      margin: 0 10px; }
    header .menu-cont {
      margin: 0 20px; }
      header .menu-cont ul.main-menu > li {
        padding: 0 5px; }
        header .menu-cont ul.main-menu > li > a {
          font-size: 16px; } }
  @media only screen and (max-width: 1200px) {
    header {
      height: 60px; }
      header .links .link .text {
        display: none; } }
  @media only screen and (max-width: 950px) {
    header {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 45px;
      box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2); }
      header.home {
        position: fixed;
        background: #fff; }
        header.home .menu-cont {
          display: none; }
        header.home .links .link .icon {
          -webkit-filter: none;
                  filter: none; }
      header .menu-cont {
        display: none; }
      header .header-inner {
        padding: 0 10px; }
      header .links {
        margin-left: 20px; }
      header .logo img {
        max-height: 70%; } }

/* --------------------- /header ---------------------- */
/* ---------------------- Section slider-top ---------------------- */
section.slider-top {
  position: relative;
  height: 952px;
  padding-top: 0;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  section.slider-top .bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  section.slider-top .image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    section.slider-top .image img {
      height: 100%; }
  section.slider-top .slider-top-main {
    height: 100%; }
    section.slider-top .slider-top-main .swiper-slide {
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      section.slider-top .slider-top-main .swiper-slide img {
        height: 100%; }
      section.slider-top .slider-top-main .swiper-slide:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 0;
        z-index: 2;
        background: #000;
        opacity: 0.25; }
  @media only screen and (max-width: 1370px) {
    section.slider-top {
      height: 650px; } }
  @media only screen and (max-width: 950px) {
    section.slider-top {
      height: 550px;
      padding-top: 45px; } }

/* --------------------- /Section slider-top ---------------------- */
/* ---------------------- footer ---------------------- */
footer {
  position: relative;
  overflow: visible;
  z-index: 99;
  max-width: 1920px;
  margin: auto;
  background: #fff url("../images/index/bg-footer.png") no-repeat;
  background-size: cover; }
  footer .part-top {
    padding-top: 90px;
    padding-bottom: 70px; }
    footer .part-top .cont-form {
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .part-top .cont-form .text {
        font-family: 'VarelaRound-regular';
        font-size: 36px;
        color: #fff;
        margin-left: 65px; }
    footer .part-top .cols {
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 17px;
      text-align: right;
      margin: auto -20px;
      margin-top: 75px; }
      footer .part-top .cols .col {
        padding: 0 20px;
        color: #fff; }
        footer .part-top .cols .col .title {
          font-family: 'VarelaRound-regular';
          font-size: 20px;
          color: #fff;
          display: inline-block;
          white-space: nowrap;
          position: relative; }
          footer .part-top .cols .col .title:after {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #fff; }
        footer .part-top .cols .col .content {
          font-family: 'VarelaRound-regular';
          font-size: 18px;
          margin-top: 20px;
          color: #fff; }
          footer .part-top .cols .col .content:first-child {
            margin-top: 0; }
          footer .part-top .cols .col .content a {
            color: inherit;
            transition: 0.5s;
            text-decoration: none; }
            footer .part-top .cols .col .content a:hover {
              color: var(--color-main); }
          footer .part-top .cols .col .content ul {
            list-style: none;
            padding-right: 0; }
          footer .part-top .cols .col .content p, footer .part-top .cols .col .content li {
            margin-top: 2px; }
  footer .part-bottom .section-inner {
    border-top: 1px solid rgba(201, 201, 201, 0.5);
    padding-top: 25px;
    padding-bottom: 25px; }
  footer .part-bottom .top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .part-bottom .top .menu-cont {
      height: 100%;
      text-align: right;
      margin: 0 35px;
      display: inline-block;
      position: relative; }
      footer .part-bottom .top .menu-cont ul.main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%; }
        footer .part-bottom .top .menu-cont ul.main-menu > li {
          position: relative;
          padding: 0 15px; }
          footer .part-bottom .top .menu-cont ul.main-menu > li > a {
            position: relative;
            transition: 0.25s;
            font-family: 'VarelaRound-regular';
            font-size: 19px;
            color: #fff;
            padding: 5px 5px;
            white-space: nowrap;
            display: inline-block;
            height: 100%; }
            footer .part-bottom .top .menu-cont ul.main-menu > li > a:hover {
              color: var(--color-main); }
          footer .part-bottom .top .menu-cont ul.main-menu > li.current_page_item > a, footer .part-bottom .top .menu-cont ul.main-menu > li.current-menu-item > a {
            font-family: 'VarelaRound-regular'; }
    footer .part-bottom .top .social {
      display: flex;
      align-items: center;
      margin: -10px; }
      footer .part-bottom .top .social .link {
        display: inline-block;
        margin: 10px; }
  footer .part-bottom .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'VarelaRound-regular';
    font-size: 18px;
    color: #fff;
    margin-top: 35px; }
    footer .part-bottom .bottom .sep {
      width: 2px;
      height: 15px;
      margin: 0 15px;
      background: #fff; }
  @media only screen and (max-width: 1370px) {
    footer .part-top {
      padding-top: 70px; }
    footer .part-bottom .top .logo img {
      max-height: 40px; }
    footer .part-bottom .top .menu-cont {
      margin: 0 25px; }
      footer .part-bottom .top .menu-cont ul.main-menu > li {
        padding: 0 8px; }
        footer .part-bottom .top .menu-cont ul.main-menu > li > a {
          font-size: 17px; } }
  @media only screen and (max-width: 1200px) {
    footer .part-bottom .top {
      flex-direction: column; }
      footer .part-bottom .top .menu-cont {
        margin: 25px 0px; } }
  @media only screen and (max-width: 950px) {
    footer .part-top {
      padding-top: 35px;
      padding-bottom: 35px; }
      footer .part-top .cont-form {
        flex-direction: column; }
        footer .part-top .cont-form .text {
          margin-left: 0;
          font-size: 30px; }
        footer .part-top .cont-form .wpcf7 {
          margin-top: 25px; }
      footer .part-top .cols {
        flex-wrap: wrap;
        margin-top: 35px; }
        footer .part-top .cols .col {
          flex: 50% 1;
          margin-top: 25px; }
          footer .part-top .cols .col .content ul {
            margin-top: 0; }
            footer .part-top .cols .col .content ul li {
              margin-top: 0;
              font-size: 17px; }
    footer .part-bottom .top .menu-cont ul.main-menu {
      flex-direction: column; }
    footer .part-bottom .bottom {
      flex-direction: column; }
      footer .part-bottom .bottom .sep {
        background: transparent;
        height: 10px; } }

/* --------------------- /footer ---------------------- */
.logoextra {
  cursor: pointer; }
  .logoextra svg path {
    transition: 0.5s; }
  .logoextra:hover svg path {
    fill: #FFC20F; }

.subscribe .wpcf7 {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 390px; }
  .subscribe .wpcf7 .wpcf7-form-control-wrap {
    width: 100%; }
  .subscribe .wpcf7 input {
    font-family: 'VarelaRound-regular';
    font-size: 20px;
    color: #BDBDBD;
    background: #FFFFFF;
    border: 1px solid #A7A7A7;
    border-radius: 7px;
    width: auto;
    padding: 18px 25px;
    margin: 0;
    width: 100%; }
    .subscribe .wpcf7 input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #BDBDBD; }
    .subscribe .wpcf7 input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #BDBDBD; }
    .subscribe .wpcf7 input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #BDBDBD; }
    .subscribe .wpcf7 input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #BDBDBD; }
  .subscribe .wpcf7 .wrapper-submit {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 65px;
    width: 55px;
    background: transparent url("../images/icons/send.svg") no-repeat;
    background-position: center center;
    cursor: pointer;
    z-index: 99; }
    .subscribe .wpcf7 .wrapper-submit input {
      font-size: 0;
      border-radius: 0;
      height: 100%;
      width: 100%;
      display: block;
      background: none;
      border: none;
      cursor: pointer; }

/* ---------------------- Section top-inner ---------------------- */
section.top-inner {
  padding-top: 85px;
  padding-bottom: 70px;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 99;
  background: #fff url("../images/inner/bg-top.png") no-repeat;
  background-size: cover; }
  section.top-inner .section-inner {
    z-index: 2; }
  section.top-inner .title {
    font-family: 'VarelaRound-regular';
    font-size: 75px;
    line-height: 1;
    margin: 0; }
  section.top-inner .breadcrumbs {
    font-family: 'VarelaRound-regular';
    font-size: 18px;
    margin-top: 10px;
    text-align: center; }
  @media only screen and (max-width: 1370px) {
    section.top-inner {
      padding-top: 65px;
      padding-bottom: 50px; }
      section.top-inner .title {
        font-size: 60px; }
      section.top-inner .breadcrumbs {
        font-size: 16px; } }
  @media only screen and (max-width: 950px) {
    section.top-inner {
      padding-top: 30px;
      padding-bottom: 20px; }
      section.top-inner .title {
        font-size: 43px; }
      section.top-inner .breadcrumbs {
        margin-top: 8px; } }

/* --------------------- /Section top-inner ---------------------- */
/* ---------------------- Section top-inner-attraction ---------------------- */
section.top-inner-attraction {
  padding: 25px 0;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 99;
  background: #fff url("../images/inner/top-inner-attraction.png") no-repeat;
  background-size: cover; }
  section.top-inner-attraction .section-inner {
    z-index: 2; }
  section.top-inner-attraction .breadcrumbs {
    font-family: 'VarelaRound-regular';
    font-size: 18px;
    text-align: center; }
  @media only screen and (max-width: 1370px) {
    section.top-inner-attraction .breadcrumbs {
      font-size: 16px; } }

/* --------------------- /Section top-inner-attraction ---------------------- */
/* ---------------------- Section attraction ---------------------- */
section.attraction .title-main {
  font-family: 'VarelaRound-regular';
  font-size: 67px;
  color: var(--color-second); }

section.attraction .info {
  margin-top: 40px; }
  section.attraction .info .item {
    display: flex;
    margin-top: 15px; }
    section.attraction .info .item:first-child {
      margin-top: 0; }
    section.attraction .info .item .icon {
      width: 30px;
      text-align: center;
      margin-left: 5px; }
    section.attraction .info .item .text {
      font-family: 'VarelaRound-regular';
      font-size: 20px;
      color: var(--color-text); }
      section.attraction .info .item .text p {
        margin-top: 5px; }
        section.attraction .info .item .text p:first-child {
          margin-top: 0; }

section.attraction .about {
  margin-top: 35px; }

section.attraction .swiper-container {
  overflow: visible; }
  section.attraction .swiper-container .swiper-wrapper {
    overflow: visible; }
    section.attraction .swiper-container .swiper-wrapper .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      overflow: hidden;
      -webkit-filter: drop-shadow(0px 15px 30px rgba(63, 80, 112, 0.26));
              filter: drop-shadow(0px 15px 30px rgba(63, 80, 112, 0.26));
      border-radius: 10px;
      max-height: 470px; }
      section.attraction .swiper-container .swiper-wrapper .swiper-slide img {
        width: 100%; }
  section.attraction .swiper-container .pagination {
    margin-top: 35px;
    display: flex;
    justify-content: center; }
    section.attraction .swiper-container .pagination .swiper-pagination-bullet {
      height: 10px;
      width: 10px;
      background: #D9D9D9;
      opacity: 1;
      transition: 0.5s;
      margin: 0 6px; }
      section.attraction .swiper-container .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var(--color-main); }

section.attraction .buttons {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center; }
  section.attraction .buttons .button-icon {
    margin: 0 20px; }

@media only screen and (max-width: 1370px) {
  section.attraction .title-main {
    font-size: 57px; } }

@media only screen and (max-width: 1200px) {
  section.attraction .title-main {
    font-size: 50px; }
  section.attraction .swiper-container .swiper-wrapper .swiper-slide {
    max-height: 400px; }
  section.attraction .info .item .text {
    font-size: 18px; } }

@media only screen and (max-width: 950px) {
  section.attraction .title-main {
    font-size: 40px; }
  section.attraction .swiper-container .swiper-wrapper .swiper-slide {
    max-height: 350px; }
  section.attraction .buttons {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 25px;
    margin-top: 25px; }
    section.attraction .buttons .button-icon {
      margin: 20px 0; } }

/* --------------------- /Section attraction ---------------------- */
/* ---------------------- Section opinion ---------------------- */
section.opinion .content {
  margin-top: 25px; }

section.opinion .button-icon {
  margin-top: 25px; }

/* --------------------- /Section opinion ---------------------- */
/* ---------------------- Section attractions ---------------------- */
section.attractions {
  overflow: visible; }
  section.attractions .decor {
    left: 0;
    top: -230px;
    width: 33%;
    text-align: left; }
  section.attractions .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -17px;
    margin-top: 35px; }
    section.attractions .boxes .box {
      width: 25%;
      padding: 17px; }
  section.attractions .cont-button {
    margin-top: 75px;
    text-align: left; }
  @media only screen and (max-width: 950px) {
    section.attractions .boxes {
      margin: -10px;
      margin-top: 25px; }
      section.attractions .boxes .box {
        width: 50%;
        padding: 10px; }
    section.attractions .cont-button {
      margin-top: 45px; } }

/* --------------------- /Section attractions ---------------------- */
.box-attraction {
  cursor: pointer; }
  .box-attraction .inner {
    position: relative; }
  .box-attraction .image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    height: 290px;
    overflow: hidden;
    -webkit-filter: drop-shadow(0px 15px 30px rgba(63, 80, 112, 0.26));
            filter: drop-shadow(0px 15px 30px rgba(63, 80, 112, 0.26));
    border-radius: 10px; }
    .box-attraction .image img {
      height: 100%; }
  .box-attraction .text {
    margin-top: 20px; }
    .box-attraction .text .title {
      font-family: 'VarelaRound-regular';
      font-size: 32px;
      color: var(--color-text);
      transition: 0.5s; }
    .box-attraction .text .subtitle {
      font-family: 'VarelaRound-regular';
      font-size: 24px;
      color: #5C5C5C; }
  .box-attraction:hover .text .title {
    color: var(--color-main); }
  @media only screen and (max-width: 1370px) {
    .box-attraction .image {
      height: 220px; }
    .box-attraction .text {
      margin-top: 15px; }
      .box-attraction .text .title {
        font-size: 28px; }
      .box-attraction .text .subtitle {
        font-size: 20px; } }
  @media only screen and (max-width: 950px) {
    .box-attraction {
      max-width: 200px; }
      .box-attraction .image {
        height: 140px; }
      .box-attraction .text {
        margin-top: 10px; }
        .box-attraction .text .title {
          font-size: 22px; }
        .box-attraction .text .subtitle {
          font-size: 16px; } }

/* ---------------------- Section locations ---------------------- */
section.locations .boxes {
  display: flex;
  flex-wrap: wrap;
  margin: -19px;
  margin-top: 35px; }
  section.locations .boxes .box {
    width: 33.33%;
    padding: 19px; }

@media only screen and (max-width: 950px) {
  section.locations .boxes {
    margin: -7px;
    margin-top: 25px; }
    section.locations .boxes .box {
      width: 50%;
      padding: 7px; } }

/* --------------------- /Section locations ---------------------- */
.box-location .inner {
  position: relative; }

.box-location .image {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  height: 434px;
  overflow: hidden;
  box-shadow: 0px 15px 30px rgba(90, 69, 150, 0.26);
  border-radius: 10px;
  position: relative; }
  .box-location .image img {
    height: 100%; }
  .box-location .image:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)); }

.box-location .text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding: 30px 30px; }
  .box-location .text .title {
    font-family: 'VarelaRound-regular';
    font-size: 36px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    display: block; }
    .box-location .text .title:hover {
      color: var(--color-main); }
  .box-location .text .list {
    margin-top: 20px; }
    .box-location .text .list .item {
      display: block;
      font-family: 'VarelaRound-regular';
      font-size: 24px;
      color: #fff;
      margin-top: 10px;
      cursor: pointer;
      transition: 0.5s; }
      .box-location .text .list .item:hover {
        color: var(--color-main); }
  .box-location .text .button {
    display: inline-block;
    font-family: 'VarelaRound-regular';
    font-size: 20px;
    color: #fff;
    margin-top: 35px;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s; }
    .box-location .text .button:hover {
      color: var(--color-main); }

@media only screen and (max-width: 1370px) {
  .box-location .image {
    height: 390px; }
  .box-location .text {
    padding: 30px 30px; }
    .box-location .text .title {
      font-size: 30px; }
    .box-location .text .list {
      margin-top: 20px; }
      .box-location .text .list .item {
        font-size: 20px; }
    .box-location .text .button {
      font-size: 18px;
      margin-top: 35px; } }

@media only screen and (max-width: 950px) {
  .box-location .image {
    height: 390px; }
  .box-location .text {
    padding: 20px 15px; }
    .box-location .text .title {
      font-size: 22px; }
    .box-location .text .list {
      margin-top: 20px; }
      .box-location .text .list .item {
        font-size: 17px; }
    .box-location .text .button {
      font-size: 16px;
      margin-top: 25px; } }

.alignnone, .aligncenter, .alignright, .alignleft {
  max-width: 50%; }

.content .alignright, .content .alignleft {
  max-width: 50%;
  height: auto; }

.content .alignnone, .content .aligncenter {
  max-width: 100%;
  height: auto; }

@media only screen and (max-width: 950px) {
  .content .alignnone, .content .aligncenter, .content .alignright, .content .alignleft {
    max-width: 100%;
    float: none;
    margin: 0; } }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] {
  direction: rtl; }

@media only screen and (max-width: 950px) {
  .woocommerce-MyAccount-content {
    width: 100%; } }

html.fp-enabled {
  margin-top: 0 !important; }
